/* 019-安利.html */
*{margin: 0; padding: 0;}

.con{
    width: 966px;
    margin: 0 auto;
}

.header{
    /* background-color: yellow; */
    height: 110px;
}

.logo{
    width: 265px;
    height: 110px;
    float: left;
    background: url(../html/images/logo.png) no-repeat;
    background-size: 265px 110px;
}

li{
    list-style: none;
}

.headerright{
    float: right;
}

.headerright ul{
    height: 44px;
    line-height: 44px;
    margin-top: 10px;
    color: #ababab;
}

.headerright li{
    float: left;
}

.headerright a{
    padding: 0 13px;
    border-right: 1px solid #b2c7ea;
    font-size: 13px;
}

.headerright .last{
    border: 0;
    padding-right: 0;
}

.active{
    color: #eb6ca1;
}

.search{
    float: right;
    height: 28px;
    width: 234px;
    border: 1px solid #b1b1b1;
}

.search input{
    outline: none;
    border: 0;
}

.search .left{
    width: 196px;
    height: 28px;
    padding-left: 14px;
    float: left;
}

.search .right{
    float: right;
    height: 28px;
    width: 24px;
    background: url(../html/images/search.png) no-repeat center center;
}

.nav{
    height: 53px;
    line-height: 53px;
    color: white;
    border-top: 1px solid #657588;
    background: #0c345c;
}

.nav li{
    float: left;
    padding-right: 76px;
    font-size: 16px;
    font-weight: bold;
}

.banner{
    height: 239px;
    background: url(../html/images/bg.png) no-repeat center;
}

.list{
    height: 213px;
    margin-top: 51px;
    margin-bottom: 35px;
    background-color: yellow;
}

.item{
    height: 211px;
    width: 305px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 22px;
}

.item>img{
    width: 305px;
    height: 178px;
    display: block;
}

.item>p{
    margin-left: 23px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
}

.itemlast{
    margin-right: 0;
}

.footer{
    height: 206px;
    border: 1px solid #ccc;
    background: url(../html/images/footer.png);
}

.footer ul{
    height: 84px;
    padding: 30px 0;
    border-top: 1px solid #ecebeb;
}

.footer li{
    line-height: 28px;
    float: left;
    width: 210px;
    padding-left: 30px;
    font-size: 12px;
    color: #336699;
}

.footer p{
    height: 61px;
    line-height: 61px;
    padding-left: 30px;
    border-top: 1px solid #ecebeb;
    font-size: 12px;
}

.footer p span{
    color: skyblue;
}